.color0 {
    background-color: rgb(17, 52, 117);
    color: white;
}

.color1 {
    background-color: darkcyan;
    color: white;
}

.color2{
    background-color: beige;
    color: #3a3a3a;
}

.color3{
    background-color: coral;
}

.color4{
    background-color: crimson;
    color: white;
}